.whole-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 1rem;
  overflow: hidden;
  background-color: yellow;
}

.sidebar {
  flex: 0 0 250px;
  /* margin: 10px;
  margin-left: 0px;
  margin-bottom: 0px; */
  background-color: blue;
}

.data-panel {
  flex: 1;
  height: 100vh;
  overflow: hidden;
  background-color: green;
}